*.pyc
/training/sentiment_analysis/datasets/sentiment140
/training/sentiment_analysis/word_embeddings/
/training/sentiment_analysis/tensorboard_logs/
/training/sentiment_analysis/saved_models/
/training/sentiment_analysis/serving/
/training/geolocation_prediction/serving/
/training/geolocation_prediction/word_embeddings/
/training/geolocation_prediction/datasets/wnut
/training/geolocation_prediction/datasets/
/training/sentiment_analysis/code/__pycache__/
/training/geolocation_prediction/code/__pycache__/
/training/geolocation_prediction/saved_models/
/training/geolocation_prediction/tensorboard_logs/
/deployment/metadata/
/deployment/serving/
/deployment/demo/
/deployment/code/api/app.db
/deployment/code/api/tests/test.db
/deployment/code/api/tests/data/
/generic_serving/metadata/
/generic_serving/serving/
/generic_serving/tweets/
