<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                    <h1>Whitelist Operator</h1>      
                    <p>Welcome to our whitelist operator to add urls and ips!</p>
            </div>
        </div>
    </div>
</div>
    
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <a class="list-group-item list-group-item-action list-group-item-info">Whitelist URL Option</a>
                    <div class="list-group">
                        <a class="list-group-item"><strong>Adding URLs & IPs to Whitelist</strong></a>
                    </div>
                    <div class="row">
                        <div class=" col-xs-12">
                            <button class="btn btn-primary btn-lg" routerLink="/addlist">Add URLs & IPs</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</div>


    