@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>DeleteWorker</title>
</head>
<body>
    <div>
        @RenderPage("~/Views/Manager/Workers.cshtml")
        <h3><span style="color:#375a7f">Delete Worker:</span></h3>

        <table class="table table-striped table-hover ">
            <colgroup>
                <col style="width:190px">
            </colgroup>
            <tr>
                <td>
                    Select Worker:
                </td>
                <td>
                    <select id="WorkersSelect" style="color:gray"></select>
                </td>

            </tr>
            <tr>
                <td>
                    <input type="button" value="Return" class="btn btn-primary btn-xs" onclick="@("window.location.href='" + @Url.Action("ManagerHome", "Manager") + "'");" />
                </td>
                <td>
                    <input id="Submit" class="btn btn-primary btn-xs" type="button" value="Delete" onclick="PostData()" />
                </td>
            </tr>

        </table>
        <br />
        <div id="DeleteStatus"></div>
        <br />
    </div>
</body>
</html>
<script language="javascript">
    $.get("GetWorkersByJson", null, BindData);
    function BindData(json)
    {
        var selected = $("#WorkersSelect")
        for (i = 0; i < json.Workers.length; i++)
        {
            var option;
            if (i == 0)
                option = "<option id=" + "''" + +json.Workers[i].ID + "''" + " value=" + "''" + json.Workers[i].ID + "''" + " selected=" + "''" + "selected" + "''" + ">" +json.Workers[i].ID+ "</option>";
            else
                option = "<option id=" + "''" + +json.Workers[i].ID + "''" + " value=" + "''" + json.Workers[i].ID + "''" + ">" + json.Workers[i].ID + "</option>";
            selected.append(option);
        }
    }
    function PostData()
    {
        $("#DeleteStatus").text("Deleting Worker....");
        var sub = document.getElementById("Submit");
        $(sub).prop('disabled', true);
        var Data = document.getElementById("WorkersSelect");
        Data=Data.options[Data.selectedIndex].text;
        $.post("/Manager/DeleteWorker", { id: Data });
        window.location.href = "/Manager/ManagerHome";
    }
</script>

