<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                    <h1>About</h1>      
            </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
          <p>
              <strong>This is a whitelist operator to submit a request to add new ips and urls to the whitelist of the proxy.</strong>
            </p> 

          <p> 
            <br>
            <strong>The request will be handled (either accept or decline) as quick as possible!</strong>
          </p> 
        </div>
  </div>
  
  
  
  